@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #e09a33; /* Dark Blue */
  --secondary-color: #faebd7; /* Amber */
  --tertiary-color: #faebd7; /* Anntique white */
}
